h1, h2, h3, h4 {
    text-transform: uppercase;
}
.dropdown-menu,
nav#navbar-main li.nav-item {
  font-size: 1.2rem;
}

.navbar-brand {
    font-size: 1.8rem;
}

{
    background-image: radial-gradient(50% 150%,#fffcf9 0,#e6dbd1 100%);
    display: flex;
    flex: 1 1 0;
    flex-flow: column wrap;
    min-height: 100vh;
    height: 100%;
}
