h1, h2, h3, h4 {
    text-transform: uppercase;
}

h1 {
  color: #eef0ef;
  text-shadow: 2px 2px 3px #000000;
}

h3 {
  font-weight: 400;
}

.dropdown-menu,
nav#navbar-main li.nav-item {
  font-size: 1.2rem;
}

/* values for the top left site title*/ 
.navbar-brand {
    font-size: 1.6rem;
    font-family: "Libre Barcode 39 Extended Text";
    text-shadow: 2px 2px 3px #000000;
}

.card-title, .card-subtitle{
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 400;
}

.powered-by {
  display: none;
}

div[class^="ftn-"], div[class*=" #ftn-"] {
  margin-top: -200px;
  padding-top: 200px;
}

.navbar {
  background: #757575;
}

.navbar .navbar-nav .nav-link.active {
  font-weight: 700!important;
  color: #e3e5e8!important;
}

.avatar-hexagon {
-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: no-repeat center center;
  box-shadow: 2px 2px 3px #000000; 
}