h1, h2, h3, h4 {
    text-transform: uppercase;
}
.dropdown-menu,
nav#navbar-main li.nav-item {
  font-size: 1.2rem;
}

.navbar-brand {
    font-size: 1.2rem;
}

.card-title .card-subtitle{
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 400;
}

footer .powered-by {
  display: none;
}